@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

a{
    text-decoration: none i !important;
    color : white !important;
}
body{
    font-family: 'Roboto', sans-serif !important;
}
.g-navbar{
    height : 50px;
    width : 100%;
    background: black; 
    display : flex;
    justify-content : center;
    color : white;
}
.navbar-container{
    width : 1140px;
    height : inherit; 
    display : flex;
    justify-content : space-between;
}
.menu-list{
    list-style-type : none;
    display : flex;
    margin : 0px;
}
.navbar-left{
    display : flex;
    align-items:center;
}
.navbar-right{
    display : flex;
    color : white;
    align-items : center;
}

h1{
    margin : 0px;
}
.menu-list{
    padding-left : 100px;
}
.menu-item{
    padding-right : 50px;
    height : 50px;
    line-height : 50px;
}

.logo{
    width : 130px;
    height : 40px;
}