@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main{ 
    width : 100%;
    display : flex;
    justify-content : center;
}
#main-video{
    position : absolute; 
    top: 49px;
    height : 400px;
    width : 100%; 
    z-index : 0;
    object-fit: cover;
} 
.main-container{ 
    background-color : transparent;
    height : 399px;
    width : 1200px;   
    color : white;    
    z-index : 1;
}
.main-title{
    font-family: 'Roboto', sans-serif !important;
    margin-top : 50px;
    background-color : transparent;
    width : 800px;
    height : 200px; 
    
}
.main-container>center>h1{
    padding-top : 70px;
    font-size : 36px;
    text-align:center;
    
    font-family: 'Noto Sans KR', sans-serif;
}

.main-container>center>h3{
    font-size : 16px;
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
}

.main-container>center>button{
    margin-top : 55px;
    background-color :rgb(219, 97, 40);
    color : white;
    border : none;
    border-radius : 8px;
    width : 200px;
    height : 55px;
    font-size : 24px;
    text-align:center;;
    font-family: 'Noto Sans KR', sans-serif;
    cursor : pointer;
}





.user-ranking-wrapper{
    padding-top : 40px;
}
.user-ranking-wrapper > center > h3{
    margin : 0px;
    font-size : 17px;
    color : #f84103;
}

.user-post-wrapper{ 
    padding-top : 40px;
}
 
.user-post-wrapper > center >  h3{
    margin : 0px;
    font-size : 17px;
    color : #f84103;
}
.user-post-item{
    display : flex;  
}
.category-top{
    width : 100%;
    height : 25px; 
    display:flex;
    align-content: center;
    justify-content : center;
    padding-top : 25px;
    font-size : 18px;
}

.user-post-list{
    padding : 0px;
}

.user-content{
    height : 500px; 
}
.user-ranking{
    height : 500px; 
}
 
.row{
    display:flex;
    justify-content : center;
}
.col-8{
    width : 800px;
} 
.col-4{ 
    width : 400px;
}
.padding-left-40{
    padding-left : 150;
}

 
